/*header styles*/
.header {
    padding: 20px 0;
}

.header .menu-items .item {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.header .menu-items .menu-items-align {
    align-items: center;
    display: flex;
    height: 100%;
}

.header .purchase-button {
    background: #FAB8C3;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px 40px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #5956E9;
    max-width: 208px;
    margin-left: auto;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .menu-items .item.active {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #5956E9;
}

/*first section styles*/

.main-parent .left-parent {
    position: relative;
}

.main-parent .left-parent .title {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 67px;
    letter-spacing: 0.2px;
    color: #000000;
    margin-top: 90px;
    max-width: 576px;
}

.main-parent .left-parent .content {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 38px 0 58px 0;
    max-width: 450px;
}

.main-parent .left-parent .button {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #5956E9;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px 40px;
    width: fit-content;
}

.main-parent .right-parent .man-with-flowers {
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100%;
}

.big-yellow-circle {
    position: absolute;
    top: 0;
    left: 0;
}

.big-blue-circle {
    position: absolute;
    right: 0;
    top: 0;
}

.relative-element {
    position: relative;
    z-index: 1;
}

.small-yellow-circle {
    position: absolute;
    top: 50px;
}

.small-pink-circle {
    position: absolute;
    bottom: 40%;
    left: -5%;
    z-index: -1;
}

.medium-yellow-circle {
    position: absolute;
    right: 0;
}
